<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="apolloConfigSection" type="Com.Ctrip.Framework.Apollo.ApolloConfigSection, Framework.Apollo.Client"/>
    <section name="apolloConfigNameSpacesSection" type="Com.Ctrip.Framework.Apollo.ApolloConfigNameSpacesSection, Framework.Apollo.Client"/>
  </configSections>
  <apolloConfigSection configSource="apolloConfigSection.config"/>
  <apolloConfigNameSpacesSection>
    <namespaces>
      <add name="app" value="application"/>
    </namespaces>
  </apolloConfigNameSpacesSection>
</configuration>
