<?xml version="1.0" encoding="utf-8"?>
<apolloConfigSection appId="dVw2ClzqteceSfUG" env="SIT" cluster="" timeout="" readTimeout="" refreshInterval="" localConfigDir="E:\OpenSrcs\apollo.net\ApolloDemo\bin\Debug">
  <metas>
    <add key="Apollo.DEV.Meta" value="http://apollo-dev.ewt360.com"/>
    <add key="Apollo.SIT.Meta" value="http://apollo-sit.ewt360.com"/>
    <add key="Apollo.PRE.Meta" value="http://apollo-pre.ewt360.com"/>
    <add key="Apollo.PRO.Meta" value="http://apollo-prod.ewt360.com"/>
  </metas>
</apolloConfigSection>
