<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="apolloConfigSection" type="Com.Ctrip.Framework.Apollo.ApolloConfigSection, Framework.Apollo.Client"/>
    <section name="apolloConfigNameSpacesSection" type="Com.Ctrip.Framework.Apollo.ApolloConfigNameSpacesSection, Framework.Apollo.Client"/>
  </configSections>
  <apolloConfigSection configSource="apolloConfigSection.config"/>
  <apolloConfigNameSpacesSection>
    <namespaces>
      <add name="app" value="application"/>
      <add name="logging" value="other.logging.dotNet" />
      <add name="zipkin" value="other.zipkin.dotNet" />
    </namespaces>
  </apolloConfigNameSpacesSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>